<div class="row marketing">
  <div class="col-lg-6">
    <h4>Teams</h4>
    <ul>
      <%= for team <- @teams do %><li><strong><%= team_number(team) %></strong> <%= team_name(team) %></li><% end %>
    </ul>
  </div>

  <div class="col-lg-6">
    <h4>Matches</h4>
    <ul>
      <%= for match <- @matches do %><li>Match <%= match_number(match) %>: <strong><%= match_time(match) %></strong> <%= match_red_team(match) %> <%= match_blue_team(match) %></li><% end %>
    </ul>
  </div>
</div>
